* {margin: 0;padding: 0; box-sizing: border-box;}
*::before {box-sizing: border-box;}
*::after {box-sizing: border-box;}
ul, ol {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-weight: normal;}
a { text-decoration: none; color: inherit; }
pre {
  font-family: "Fira Code Medium", Consolas, monospace;
}
$padding: 16px;
$main-color: #00ADB5;
$border-color: #eee;
body {
  font-size: 16px;
}
.site-page {
  display: flex;
  flex-direction: column;
  .site-header {
    height: 80px;
    background: #000;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
  }
  main {
    flex: 1;
    background: #f6f7f9;
    display: flex;
    aside {
      background: #fff;
      min-height: calc(100vh - 80px);
      padding: 20px 10px;
      flex-shrink: 0;
      >span {
        padding: 0 10px;
        font-size: 16px;
        font-weight: bold;
      }
      > ul {
        > li {
          padding: 10px;
          display: flex;
          width: 14em;
        }
      }
    }
    .site-main {
      flex: 1;
      padding: 15px;
    }
  }
}
