.show-code-wrapper {
  display: flex;
  justify-content: space-between;
  > .show-code-list {
    padding: 0 20px;
    flex: 1;
    overflow: auto;
  }
  > .show-code {
    padding: 15px;
    overflow: auto;
    background: #fff;
    border-radius: 20px;
  }
  .code-wrapper {
    border-radius: 10px;
  }
  pre {
    padding: 15px;
    border-radius: 10px;
  }
}